[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pre-commit = "*"
pygments = "*"

[packages]
pydantic = "*"
typing-extensions = "*"
fastapi = "*"
pyhumps = "*"
pytest = "*"
coverage = "*"
twine = "*"
uvicorn = "*"
mkdocs = "*"
mkdocs-material = "*"
mypy = "*"
jeepney = ">=0.4.2"
httpx = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
